<% dark_pathes = [sign_in_path, sign_up_path, account_profile_path, edit_account_email_path, account_email_path] %>
<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>
  <body>
    <div id="flash">
      <%= render "shared/flash" %>
    </div>
    <%= render "shared/navbar" %>
    <main class="h-lvh <%= dark_pathes.include?(request.path) ? 'bg-gray-50 dark:bg-gray-900' : ''%>">
      <%= yield %>
    </main>
  </body>
</html>
