<%= render "shared/account_navbar" %>
<div class="max-w-screen-xl mx-auto py-2">
  <h2 class="mb-4 px-2 text-xl font-bold text-gray-900 dark:text-white">Change your password</h2>
  <div class="block max-w-screen-xl mx-2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <%= form_with(url: account_password_path, method: :patch) do |form| %>
      <% if @user.errors.any? %>
        <div class="p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
            <% @user.errors.each do |error| %>
              <li class="font-medium"><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mt-2">
        <%= form.label :password_challenge, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.password_field :password_challenge, required: true, autofocus: true, autocomplete: "current-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="mt-4">
        <%= form.label :password, "New password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.password_field :password, required: true, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        <p class="text-xs font-normal text-gray-500 dark:text-gray-400">12 characters minimum.</p>
      </div>
      <div class="mt-4">
        <%= form.label :password_confirmation, "Confirm new password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
      <div class="mt-4">
        <%= form.submit "Save changes", class: "cursor-pointer mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      </div>
    <% end %>
  </div>
</div>
