<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="/" class="flex items-center text-2xl font-semibold text-gray-900 dark:text-white">
      <%= image_tag asset_path('logo.png'), class: "w-8 h-8 mr-2" , alt: "logo" %> MyApp
    </a>
    <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
      <h1 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        Reset your password
      </h1>
      <%= form_with(url: identity_password_reset_path, method: :patch, html: {class:"mt-4 space-y-4 lg:mt-5 md:space-y-5"}) do |form| %>
        <%= form.hidden_field :sid, value: params[:sid] %>
        <div>
          <%= form.label :password, "New password", class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.password_field :password, required: true, autofocus: true, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
          <div>12 characters minimum.</div>
        </div>
        <div>
          <%= form.label :password_confirmation, "Confirm new password", class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
          <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </div>
        <div>
          <%= form.submit "Reset password", class:"cursor-pointer w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
